.mainContainer {
    width: 12rem;

    user-select: none;
    cursor: pointer;

    display: flex;
    justify-content: space-between;

    transition: all ease 0.25s;

    position: relative;
    top: 0rem;
}

.mainContainer:hover {
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display {
    width: 10rem;
    height: 2rem;
    padding-left: 0.5rem;

    background-color: var(--secondary-background-color);
    border-radius: 0.25rem 0 0 0.25rem;
}

.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display > p {
    font-size: var(--small-font-size);
}

.arrow {
    width: 2rem;
    height: 2rem;

    background-color: var(--secondary-background-color);
    border-radius: 0 0.25rem 0.25rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 1rem;
    height: 1rem;
}

.anchor {
    position: relative;
}

.dropdownContent {
    width: 12rem;

    background-color: var(--secondary-background-color);
    border-radius: 0.25rem;
    user-select: none;
    box-shadow:
        rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    flex-direction: column;

    position: absolute;
    top: 2.25rem;
    right: 0px;
    z-index: 10;
}

.dropdownContent > p {
    padding: 0.25rem 0.5rem;

    font-size: var(--small-font-size);
    font-weight: 400;
    cursor: pointer;

    transition: all 0.25s ease;
}

.dropdownContent > p:hover {
    background-color: var(--hover-color);
}

@media (max-width: 768px) {
    .mainContainer:hover {
        box-shadow: none;
    }

    .display {
        height: 3rem;
    }

    .display > p {
        font-size: 0.8rem;
    }

    .arrow {
        width: 3rem;
        height: 3rem;
    }

    .dropdownContent {
        top: 3.25rem;
    }

    .dropdownContent > p {
        padding: 0.75rem 0.5rem;

        font-size: 0.8rem;
    }
}
