.mainContainer {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.5rem;

    background-color: var(--seconadry-background-color);
    user-select: none;
    cursor: pointer;
    border-radius: 0.5rem;

    display: flex;
    justify-content: space-between;

    transition: all ease 0.25s;

    position: relative;
    top: 0rem;

    overflow: hidden;
}

.mainContainer:hover {
    width: 16rem;

    background-color: var(--background-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.emailDiv {

}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon {
    width: 1.25rem;
    height: 1.25rem;

    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.noDisplay {
    display: none;
}

.divIcon {
    width: 2.5rem;
    height: 2.5rem;

    border-radius: 50%;
    background-color: var(--primary-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.divIcon > p {
    color: white;
    font-size: var(--large-header-font-size);
    font-weight: 600;

    position: relative;
    top: 0.05rem;
}

.expandedStyle {
    width: 16rem;
    height: 16rem;

    background-color: var(--background-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    position: relative;
    top: 6.25rem;
}
