.tag {
    height: 1rem;
    width: fit-content;
    padding: 0.7rem 0.4rem;

    border-radius: 1rem;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.tag p {
    font-size: var(--small-font-size);
    font-weight: 500;

    user-select: none;
}
