.mainContainer {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: column;
}

.mainContainer > h2 {
    font-size: var(--header-font-size);
    font-weight: 500;
}

.listing {
    --cards-per-view: 6;
    --gap: 1rem;
    --card-min: 11rem;

    display: flex;
    align-items: flex-start;
    gap: var(--gap);
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: auto;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    -webkit-overflow-scrolling: touch;
}

.listing > * {
    flex: 0 0
        clamp(
            var(--card-min),
            calc((100% - (var(--cards-per-view) - 1) * var(--gap)) / var(--cards-per-view)),
            var(--card-max, 100rem)
        );
}

@media (max-width: 1064px) {
    .listing {
        --cards-per-view: 4;
    }
}

@media (max-width: 768px) {
    .listing {
        --cards-per-view: 2;
        --card-min: 9rem;
    }
}

@media (max-width: 400px) {
    .listing {
        --cards-per-view: 2;
        --card-min: 7.5rem;
    }
}
