.mainContainer {
    width: 100%;
    height: 100%;

    border: 1px solid var(--border-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainContainer > p {
    color: var(--secondary-text-color);
    font-size: var(--small-font-size);
}

.mainContainer > img {
    width: 50%;
    height: 50%;

    opacity: 0.4;
}
