.mainContainer {
    width: 100%;
    min-width: 0;
    aspect-ratio: 1 / 2;

    border-radius: 0.25rem;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.pictureSection {
    width: 100%;
    height: 74%;

    background-color: #3434476c;
    overflow: hidden;
}

.animeImg {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: top center;

    display: block;
}

.textSection {
    width: 100%;
    min-width: 0;
    height: 26%;
    padding: 0.5rem;

    background-color: var(--secondary-background-color);
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lineClamp {
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.title {
    font-weight: 600;
    font-size: var(--large-font-size);
}

.suppItems {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.tags {
    min-width: 0;

    overflow: hidden;

    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: nowrap;
}

.tags > span {
    padding: 0.25rem;

    font-size: var(--small-font-size);
    background-color: var(--primary-color);
    color: var(--primary-background-color);
    border-radius: 0.25rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .mainContainer {
        width: 100%;
        aspect-ratio: 1 / 2;
    }

    .title {
        font-size: 0.9rem;
    }

    .tags {
        min-width: 0;
        overflow: hidden;

        flex-wrap: nowrap;
        align-items: center;
    }

    .tags > span {
        height: 0.5rem;
        padding: 0.5rem 0.2rem;

        font-size: 0.5rem;
    }
}

@media (max-width: 400px) {
    .title {
        font-size: 0.7rem;
    }

    .tags > span {
        height: 0.5rem;
        padding: 0.5rem 0.2rem;

        font-size: 0.5rem;
    }
}
