.mainContainer {
    width: 100%;
    height: 100%;

    border-radius: 0.5rem;
    overflow: scroll;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sepH {
    width: 95%;
    height: 1px;

    background-color: var(--quarternary-color);
}

.mainContainer > div:not(.sepH) {
    width: 100%;
    padding: 1rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.top,
.mid,
.bot {
    width: 100%;
}

.top,
.bot {
    text-align: center;
}

.top > h2 {
    margin-bottom: 1rem;

    font-family: "poppins";
    font-weight: 500;
    font-size: var(--large-header-font-size);
}

.mid > .label {
    font-weight: 500;
    font-size: var(--small-font-size);
    color: var(--secondary-text-color);
}

.bot > p {
    margin-bottom: 1rem;

    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

.deleteContainer > h3 {
    font-weight: 500;
}

.deleteContainer > p {
    color: rgb(255, 75, 75);
    font-size: 0.8rem;
}

@media (max-width: 1024px) {
    .mainContainer h2 {
        font-size: 1rem;
    }

    .mainContainer .value {
        font-size: 0.8rem;
    }

    .mainContainer > div:not(.sepH) {
        padding: 1rem 2rem;
    }
}

@media (max-width: 768px) {
    .mainContainer .value {
        font-size: 0.7rem;
    }

    .mainContainer > div:not(.sepH) {
        padding: 0.5rem 1rem;
    }

    .top > p {
        font-size: 0.8rem;
    }
}

@media (max-width: 375px) {
    .mainContainer > div:not(.sepH) {
        padding: 1rem 1rem;
        gap: 0.25rem;
    }

    .sepH {
        display: none;
    }
}
