.mainContainer {
    width: 100dvw;

    display: flex;
    flex-direction: column;
}

.headerContainer {
    height: 5rem;
    width: 100%;
}

.midContainer {
    width: 100%;
    height: calc(100vh - 10rem);

    display: flex;
}

.contentContainer {
    width: 100%;
    height: 100%;

    background-color: var(--background-color);
}

.bottomContainer {
    height: 5rem;
    width: 100%;

    background-color: var(--background-color);
}

@media (max-width: 768px) {
    .midContainer {
        height: calc(100vh - 6rem);
    }

    .bottomContainer {
        display: none;
    }
}
