.mainContainer {
    width: 100%;
    height: 100%;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.settings {
    width: 40%;
    height: 95%;

    background-color: var(--secondary-background-color);
    border-radius: 0.5rem;

    position: relative;
}

.backDiv {
    width: 1.5rem;
    height: 1.5rem;

    opacity: 0.5;
    cursor: pointer;

    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.backDiv > img {
    width: 100%;
    height: 100%;
}

.navListing {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.navListingItem {
    width: 100%;
    padding: 1rem;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navListingItem:hover {
    background-color: var(--hover-color);
}

.navListingItem > img {
    height: 1.5rem;
    width: 1.5rem;

    transform: rotate(270deg);
}

.navListingItem > div > p:first-child {
    font-size: 1.2rem;
}

.navListingItem > div > p:last-child {
    font-size: 0.8rem;
    color: var(--secondary-text-color);
}

@media (max-width: 1400px) {
    .settings {
        width: fit-content;
    }
}

@media (max-width: 1024px) {
    .settings {
        flex: 1;
        width: fit-content;
    }
}

@media (max-width: 768px) {
    .navListingItem > div > p:first-child {
        font-size: 0.8rem;
    }

    .navListingItem > div > p:last-child {
        font-size: 0.7rem;
    }
}
