.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftDiv {
    width: 35rem;
    height: 30rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;

    background-color: var(--background-color);
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.animeInfoDiv {
    width: 100%;
    height: 50%;
    padding: 1rem;

    display: flex;
}

.picture {
    height: 100%;
    width: 30%;

    border: 1px solid var(--border-color);
}

.properties {
    height: 100%;
    width: 70%;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
}

.properties > h2 {
    font-size: var(--header-font-size);
    font-weight: 500;
}

.tags {
    padding-bottom: 0.5rem; /* For consistent spacing w/ dropdown */

    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.descDiv {
    width: 100%;
    height: 50%;
    padding: 1rem;
    padding-bottom: 0; /* Parent handles bottom padding */

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.descDiv > p {
    font-size: var(--base-font-size);
}

.rightDiv {
    width: 20rem;
    height: 30rem;
    margin-left: 0.5rem;

    background-color: var(--background-color);
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
