.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    position: fixed;
    top: 5rem; /* leave nav area free */
    left: 0;
    right: 0;
    bottom: 0;
}

.mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    bottom: 5rem;
}

.exitDiv {
    width: 2.5rem;
    height: 2.5rem;

    display: flex;
    justify-content: end;
    align-items: start;
    
    position: absolute;
    top: -3px;
    right: -3px;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.leftDiv {
    width: 35rem;
    height: 30rem;
    padding-bottom: 1rem;
    margin-right: 0.5rem;

    background-color: var(--background-color);
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.animeInfoDiv {
    width: 100%;
    height: 50%;
    padding: 1rem;

    display: flex;
}

.picture {
    height: 100%;
    width: 30%;

    border: 1px solid var(--border-color);
}

.properties {
    height: 100%;
    width: 70%;
    padding-left: 1rem;

    display: flex;
    flex-direction: column;
}

.properties > h2 {
    font-size: var(--header-font-size);
    font-weight: 500;
}

.tags {
    padding-bottom: 0.5rem; /* For consistent spacing w/ dropdown */

    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
}

.descDiv {
    width: 100%;
    height: 50%;
    padding: 1rem;
    padding-bottom: 0; /* Parent handles bottom padding */

    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.descDiv > p {
    font-size: var(--base-font-size);
}

.rightDiv {
    width: 20rem;
    height: 30rem;
    margin-left: 0.5rem;

    background-color: var(--background-color);
    border-radius: 0.25rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 1024px) {
    .exitDiv {
        display: none;
    }
}

@media (max-width: 1024px) {
    .leftDiv {
        margin: 0rem;
    }

    .rightDiv {
        display: none;
    }
}

@media (max-width: 768px) {
    .modalOverlay {
        top: 5rem; /* leave nav area free */
        height: calc(100vh - 5rem);
    }

    .mainContainer {
        width: 100%;
        height: 100%;
        top: 0;
    }

    .leftDiv {
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        margin: 0;

        border-radius: 0;

        justify-content: flex-start;
    }

    .animeInfoDiv {
        flex-direction: column;
    }

    .picture {
        width: 100%;
        margin-bottom: 1rem;
    }

    .properties {
        width: 100%;
        height: auto;
        padding: 0;

        gap: 0.25rem;
    }

    .properties > h2 {
        font-size: var(--base-font-size);
    }

    .descDiv {
        flex: 1 0 auto;
    }

    .rightDiv {
        display: none;
    }
}
